/*  Universal  */

html {
    background-color: white;
}

.link {
    text-decoration: none;
    color: black;
}

.link:hover {
    text-decoration: none;
    color: red;
}

li {
    float: left;
    margin-left: 20px;
    list-style-type: none;
}

ul {
    margin: 5px;
}

h1 {
    font-family: 'Lobster', cursive;

}
p {
    font-family: 'Merriweather', serif;
}

form {
    font-family: 'Merriweather', serif;
}
/*  Universal  */

/*  Header  */

.main-nav {
    height: 50px;
    width: 100%;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0px;
}

.nav-links {    
    float: left;
    list-style-type: none;
    top: 0;
}

.nav-button {
    height: 40px;
    width: 70px;
    margin: 0px 0px;
    border: none;
    background-color: white;
    cursor: pointer;
}

.dropbutton {
    background-color: white;
    color: white;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width:160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbutton {
    background-color: white;
}

.dotfitness-logo {
    float: left;
    margin:5px;
}

.dotfitness {
    font-style: italic;
    font-weight: bolder;
}

.introduction h1 {
    font-size: 36px;
}

.introduction p {
    font-size: 24px;
}
/*  Header Ends  */


/*  Body Content  */
.body-content {
    height: 1500px;
    width: 90%;
    background-color: white;
    margin: 60px  5% 10px;
}

.hero {
    height: 500px;
    background-image: url(../images/final-hero.jpg);
    background-size: cover;
    background-position: center;
    padding-top: 200px;
    text-align: center;
}

.hero-content {
   	background-color: rgba(0,0,0,0.3);
	padding: 10px;
	width: 700px;
	height: 150px;
	margin: 0 auto;
	color: white;
	text-align: center;
	border-top-left-radius: 25px;
	border-bottom-right-radius: 25px;
}

.introduction {
    text-align: center;
    line-height: 50px;
}

.columns {
    padding: 10px;
    height: 600px;
    /*position: relative;*/
}

.column-one {
    /*position: absolute;*/
    width: 49%;
    float: left;
}

.column-one-image {
    width: 100%;
}

.column-two {
    position: absolute;
    width: 49%;
    float: right;
}

.column-two-image {
    width: 100%;
}



.overlay {
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 1s ease;
    background-color: white;
}

.container {
    position: relative;
    width: 49%;
}

.container:hover .overlay {
    opacity: 0.5;
}

.text {
    color: black;
    font-family: 'Lobster', cursive;
    font-size: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
/*  Body Content Ends  */


/*  Footer  */

.footer {
    position: relative;
    bottom:0;
    left:0;
    height: 250px;
    width: 100%;
    background-color: white;
}

.footer-content {
    position: absolute;
    height: 150px;
    width: 100%;
    background-color: white;
}

.subscribe {
    position: absolute;
    top: 25px;
    left: 25px;
    height: 100%;
    width: 45%;
    background-color: white;
}

.subscribe-text {
    position: absolute;
    left: 200px;
    top:-15px;
}

.subscribe-input {
    position: absolute;
    left: 150px;
    bottom: 30px;
}



.subscribe-button {
    position: absolute;
    width: 200px;
    height: 50px;
    left: 400px;
    bottom: 15px;
    color:white;
    background-color: black;
    border-radius: 25px;
    border-style: none;
    font-family: 'Merriweather', serif;
    font-weight: bolder;
    font-size: 28px;
;
}

.social-media {
    position: absolute;
    top: 25px;
    right: 25px;
    height: 100%;
    width: 45%;
    background-color: white;
    
}

.social-media-title {
    position: absolute;
    left: 200px;
    top:-15px;
}

.social-media-ul {
    position: absolute;
    margin: 10px;
    bottom: 5px;
}

.social {
    margin-left: 40px;
}

.copyright {
    position: absolute;
    bottom: 10px;
    left: 48%;
}
/*  Footer Ends  */